.inputBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: 600;
    font-size: 1.25rem;
}

input {
    padding: 0.5rem;
    border: 1px solid var(--popover);
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--secondary);
    color: var(--text);
    outline: none;
}

input:focus {
    border-color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.errorBox {
    color: var(--destructive);
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.avatarPreview {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.avatarButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & * {
        font-size: 1rem;
        cursor: pointer;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-align: center;
    }
}

.uploadLabel {
    color: var(--button-text);
    border: 1px solid var(--border);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--accent);
    }
}