.userDropdown {
    bottom: 60px;
    width: 95%;
}

.actionsDropdown {
    top: 30px;
    right: 0;
}

.userDropdown,
.actionsDropdown {
    background-color: var(--card);
    box-shadow: var(--shadow-md);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    position: absolute;

    &>:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &>:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.dropdownItem {
    background: none;
    border: none;
    color: var(--foreground);
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.dropdownItem:hover {
    background-color: var(--accent);
}

.destructiveItem {
    color: var(--destructive);
}