:root {
  --background: #1b1d22;
  --foreground: #e4e4e4;
  --card: #2e3437;
  --card-foreground: #e4e4e4;
  --popover: #2e3437;
  --popover-foreground: #e4e4e4;
  --primary: #6d5de7;
  --primary-foreground: #ffffff;
  --secondary: #4b0083;
  --secondary-foreground: #e4e4e4;
  --muted: #454545;
  --muted-foreground: #a4a4a4;
  --accent: #6394eb;
  --accent-foreground: #e4e4e4;
  --destructive: #f14444;
  --border: #454545;
  --input: #454545;
  --ring: #6d5de7;
  --chart-1: #6d5de7;
  --chart-2: #8f45ae;
  --chart-3: #4b0083;
  --chart-4: #6394eb;
  --chart-5: #4683b5;
  --sidebar: #1b1d22;
  --sidebar-foreground: #e4e4e4;
  --sidebar-primary: #6d5de7;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #6394eb;
  --sidebar-accent-foreground: #e4e4e4;
  --sidebar-border: #454545;
  --sidebar-ring: #6d5de7;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}