:root {
  --background: #121212;
  --foreground: #eeeeee;
  --card: #181818;
  --card-foreground: #eeeeee;
  --popover: #181818;
  --popover-foreground: #eeeeee;
  --primary: #fcdfc2;
  --primary-foreground: #0a191a;
  --secondary: #3a3128;
  --secondary-foreground: #fcdfc2;
  --muted: #222222;
  --muted-foreground: #b4b4b4;
  --accent: #2b2b2b;
  --accent-foreground: #eeeeee;
  --destructive: #e55032;
  --border: #211f1a;
  --input: #484848;
  --ring: #fcdfc2;
  --chart-1: #fcdfc2;
  --chart-2: #3a3128;
  --chart-3: #2b2b2b;
  --chart-4: #423930;
  --chart-5: #fcdfc2;
  --sidebar: #18181d;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #1d4eda;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #26262b;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #26262b;
  --sidebar-ring: #d3d3db;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}