<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Used Car Inventory' }) %>

    <body>
        <%- include('./partials/nav') %>
            <div class="container">
                <h1>Welcome to the Used Car Inventory</h1>
                <a class="category" href="/categories">Browse Categories</a>
                <a class="category" href="/categories/all">Browse all vehicles</a>
            </div>
    </body>

</html>