:root {
    --background: #1a1d22;
    --foreground: #e8e8e8;
    --card: #212429;
    --card-foreground: #e8e8e8;
    --popover: #212429;
    --popover-foreground: #e8e8e8;
    --primary: #a559a5;
    --primary-foreground: #ffffff;
    --secondary: #2a2e33;
    --secondary-foreground: #e8e8e8;
    --muted: #212429;
    --muted-foreground: #989898;
    --accent: #3e303e;
    --accent-foreground: #e8e8e8;
    --destructive: #e0215b;
    --border: #2c2e33;
    --input: #2c2e33;
    --ring: #a559a5;
    --chart-1: #a559a5;
    --chart-2: #38c6f0;
    --chart-3: #31b57d;
    --chart-4: #e0215b;
    --chart-5: #edb333;
    --sidebar: #1a1d22;
    --sidebar-foreground: #e8e8e8;
    --sidebar-primary: #a559a5;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #3e303e;
    --sidebar-accent-foreground: #e8e8e8;
    --sidebar-border: #2c2e33;
    --sidebar-ring: #a559a5;

    --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
    --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', serif;
}