.navbar {
    padding: 1rem 0 1rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 2px solid var(--border);
    gap: 1rem;
    height: 100vh;
}

.logo {
    height: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.link,
.activeLink {
    color: var(--foreground);
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.link:hover,
.activeLink:hover {
    background-color: var(--accent);
}

.activeLink {
    font-weight: 900;
}

svg {
    width: 24px;
    height: 24px;
}

.userSection {
    display: flex;
    gap: 0.5rem;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    svg {
        margin-left: auto;
    }

    .userInfo {
        margin-left: 0.2rem;
    }

    .userInfo p:nth-child(1) {
        font-weight: 600;
    }

    .userInfo p:nth-child(2) {
        color: var(--muted-foreground);
        font-size: 0.9rem;
    }
}

.userContent {
    position: relative;
    padding: 0.5rem 0.5rem 0 0;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid var(--border);
}